<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AngularJS Demo01</title>
<script src="js/angular.min.js"></script>
<script>
	var app = angular.module("mainApp", []);
	app.controller("mainCtrl", function($scope) {
		$scope.message = "This is a message";
		$scope.person = {
				firstName: "Bob",
				lastName: "Lu",
				getFullName: function() {
					return this.firstName + " " + this.lastName;
				}
		};
		$scope.itemList = [
			{sid: "C", price: 20, qty: 100, change: 1.5},
			{sid: "BAC", price: 30, qty: 200, change: -2.1},
			{sid: "EDU", price: 15, qty: 300, change: 0}
		];
	});
	app.controller("anotherCtrl", function() {
		var that = this;
		that.message = "This is another message";
	});
</script>
<style>
	h2{
		color: green;
	}
</style>
</head>
<body ng-app="mainApp">
<h1>Demo01: Basic Data Binding</h1>
	<div ng-controller="mainCtrl">
		<h2>One Way Binding</h2>
		<p>Message: {{message}}</p>
		<p>Message by ng-bind: <span ng-bind="message | uppercase"></span></p>
		<hr>
		<h2>Two way binding</h2>
		<p>Input name: <input type="text" ng-model="name"/></p>
		<p>Your name is {{name | uppercase}}</p>
		<h2>Binding Objects</h2>
		<p>First Name: <input type="text" ng-model="person.firstName"/></p>
		<p>Last Name: <input type="text" ng-model="person.lastName"/></p>
		<p>Full Name: {{person.getFullName()}}</p>
		<p>Another Full Name: {{person.firstName + ' ' + person.lastName}}</p>
		<hr>
		<h2>Binding a collection</h2>
		<table border="1" style="width: 400px">
			<tr>
				<th>Stock ID</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Change</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="item in itemList">
				<td>{{item.sid}}</td>
				<td>{{item.price}}</td>
				<td>{{item.qty}}</td>
				<td>
					<b ng-if="item.change>0" style="color:green">{{item.change}}</b>
					<b ng-if="item.change<0" style="color:red">{{item.change}}</b>
					<b ng-if="item.change==0" style="color:black">{{item.change}}</b>
				</td>
				<td>{{item.price * item.qty}}</td>
			</tr>
		</table>
		<hr>
		<h2>COnditional Binding</h2>
		<p>Display a message? <input type="checkbox" ng-model="canShow"/></p>
		<p ng-show="canShow">Show a message</p>
		<p ng-show="!canShow">Hide a message</p>
		<p ng-if="canShow">Show a message by ng-if</p>
		<hr>
		<h2>Binding with ng-switch</h2>
		<input type="number" min="1" max="5" ng-model="color"/>
		<div ng-switch="color">
			<div ng-switch-when="1" style="background-color: red; width: 20px; height: 20px;"></div>
			<div ng-switch-when="2" style="background-color: green; width: 20px; height: 20px;"></div>
			<div ng-switch-when="3" style="background-color: blue; width: 20px; height: 20px;"></div>
			<div ng-switch-when="4" style="background-color: yellow; width: 20px; height: 20px;"></div>
			<div ng-switch-when="5" style="background-color: black; width: 20px; height: 20px;"></div>
		</div>
		
	
	</div>
	<hr>
	<div ng-controller="anotherCtrl">
		<h2>Binding without $Scope</h2>
		<p>Message: {{that.message}}</p>
	</div>
</body>
</html>