<!DOCTYPE html>
<html>
<head>
<title>Market Data</title>
<script src="js/angular.min.js"></script>
<script>
	angular.module("mainModule", []).controller("mainController", function($scope, $interval, $http) {
		// Initialization
		$scope.stocksArray = [];
		$interval(function() {
			$http({
				method: "GET",
				url: "rest/market",
			}).success(function(data) {
				$scope.stocksArray = data;
			}).error(function(data) {
				alert("AJAX Error!");
			});
		}, 2000);
	});	
</script>
<style>
	h2 {
		color: blue;
	}
</style>
</head>
<body ng-app="mainModule">
	<div ng-controller="mainController">
		<h2>Market Data By Spring REST</h2>
		<table id="stockList" border="1" style="width: 300px">
			<tr>
				<th>Stock ID</th>
				<th>Price</th>
				<th>Change</th>
			</tr>
			<tr ng-repeat="stock in stocksArray">
				<td>{{stock.id}}</td>
				<td>{{stock.price}}</td>
				<td>
					<b ng-if="stock.change>0" style="color:green">{{stock.change}}</b>
					<b ng-if="stock.change<0" style="color:red">{{stock.change}}</b>
					<b ng-if="stock.change==0" style="color:black">{{stock.change}}</b>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>